.footer__social-button {
    height: 60px;
    width: 60px;
    border: 1px solid $border-light;
    border-radius: 30px;
    background-color: $background-container;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

.footer__social-button:hover {
    background-color: $background-body;
    cursor: pointer;
    transition: all 0.3s ease-in;
}