{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["vite.config.js"] }
    ],
    "arrow-parens": ["error", "as-needed"],
    "import/extensions": [0, "never"]
  },
  "ignorePatterns": ["node_modules", "dist"]
}
