.menu-item-container {
  display: flex;
  flex-direction: column;
  height: 506px;
  width: 308px;
  border-radius: 40px;
  border: 1px solid $border-light;
}

.menu-item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 308px;
  width: 308px;
  border-radius: 40px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.menu-item-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
  transition: transform 0.5s;
}

.menu-item-image-container:hover::before {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-item-text-container {
  height: 196px;
  width: 308px;
}

.menu-item-name {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 12px 10px 20px;
  color: $text-dark;
  line-height: 125%;
}

.menu-item-description {
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  margin: 0 12px 20px 20px;
  color: $text-dark;
  line-height: 150%;
}

.menu-item-price {
  font-size: 24px;
  font-weight: 600;
  margin: 0 12px 20px 20px;
  color: $text-dark;
}
