.footer {
  &__info-line {
    display: flex;
    margin-bottom: 22px;
  }

  &__info-icon {
    height: 20px;
    width: 20px;
  }

  &__info-text {
    position: relative;
    cursor: default;
    margin-left: 8px;
    color: $text-light;
    &_clickable {
      cursor: pointer;
      &::after {
        @include underline;
      }
      &:hover::after {
        @include underline-hover;
      }
    }
  }
}
